header
  {
    font-family: Arial, sans-serif;
    gap: 20px;
    width: 100%;
    padding: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    background: #272324;
  }

  body 
  {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #272324;
  }

  .element 
  {
    width: 80%;
    background: #272324;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow:
      inset -3px -3px 8px rgba(255,255,255,0.07),
      inset 3px 3px 6px rgba(0,0,0,0.9);
    /*box-shadow: 0 0 10px #000000;*/
  }

  input 
  {
    padding: 8px;
    border: 0;
    box-shadow:
      inset -3px -3px 8px rgba(255,255,255,0.07),
      inset 3px 3px 6px rgba(0,0,0,0.9);
    /*border: 3px solid #000000;
    box-shadow: inset 0 0 10px #000000;*/
    background: #272324;
    color: white;
    border-radius: 5px;
  }

  button 
  {
    padding: 8px 12px;
    background: #6e1829;
    color: white;
    border: 0;
    box-shadow:
      inset 3px 3px 6px rgba(255,255,255,0.07),
      inset -3px -3px 8px rgba(0,0,0,0.9);
    /*border: 3px solid #000000;
    box-shadow: inset 0 0 10px #6e1829;*/
    border-radius: 5px;
    cursor: pointer;
  }

  .note 
  {
    background: #272324;
    /*box-shadow: inset 0 0 10px #000000;*/
    box-shadow:
      inset -3px -3px 8px rgba(255,255,255,0.07),
      inset 3px 3px 6px rgba(0,0,0,0.9);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }