header
  {
    font-family: Arial, sans-serif;
    gap: 20px;
    width: 100%;
    margin: 0;
    padding: 20px 20px 0 20px;
    display: block;
    justify-content: center;
    text-align: center;
  }

  body 
  {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0 20px 20px 20px;
    background: #1F1C1C;
    /*background-image: url("c.png");*/
    /*background-size: cover;*/
  }

  .element 
  {
    width: 80%;
    background: #272324;
    color: white;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow:
      inset -3px -3px 8px rgba(255,255,255,0.07),
      inset 3px 3px 6px rgba(0,0,0,0.9);
    /*box-shadow: 0 0 10px #000000;*/
  }

  input 
  {
    padding: 8px;
    border: 0;
    box-shadow:
      inset -3px -3px 6px rgba(255,255,255,0.07),
      inset 3px 3px 6px rgba(0,0,0,0.9);
    /*border: 3px solid #000000;
    box-shadow: inset 0 0 10px #000000;*/
    background: #272324;
    color: white;
    border-radius: 5px;
  }

  button 
  {
    padding: 8px 12px;
    background: #6e1829;
    color: white;
    border: 0;
    box-shadow:
      inset 2px 2px 3px rgba(255,255,255,0.2),
      inset -2px -2px 3px rgba(0, 0, 0, 0.8);
    /*border: 3px solid #000000;
    box-shadow: inset 0 0 10px #6e1829;*/
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  button:hover 
  {
    box-shadow:
      inset -2px -2px 3px rgba(255,255,255,0.2),
      inset 2px 2px 3px rgba(0, 0, 0, 0.8);
    /*box-shadow: inset 0 0 10px #000000;*/
  }

  .note 
  {
    background: #272324;
    /*box-shadow: inset 0 0 10px #000000;*/
    box-shadow:
      inset -3px -3px 6px rgba(255,255,255,0.07),
      inset 3px 3px 6px rgba(0,0,0,0.9);
    padding: 4px 15px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
  margin: 0 -20px 0 -20px;
  padding: 5px 0;
  list-style: none;
  width: calc(100% + 40px);

  display: flex;
  justify-content: center;
  gap: 25px;

  background: #6e1829;
  /*border-radius: 10px;*/

  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

ul li {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.4s ease;
}

ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}